<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.UserMapper">

    <select id="getStudentFromSno" resultMap="Student">
        select * from student where Sno=#{sno};
    </select>

    <resultMap id="Student" type="com.example.demo.po.Student"/>
</mapper>