<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.CourseMapper">
    <select id="getCurriculums" resultMap="course">
    select * from  curriculum;
</select>
    <select id="getCurriculumFromSno" resultMap="course">
        select * from  curriculum where 课程编号=#{cno}
    </select>
    <select id="" resultMap="course">
        SELECT * FROM curriculum WHERE 课程编号 IN (
        <foreach collection="curris" separator="," item="curri">
            #{curri}
        </foreach>
        )
    </select>
    <insert id="insertCurriculum">
        insert into curriculum values (#{array[0]},#{array[1]},#{array[2]},#{array[3]},#{array[4]},#{array[5]});
    </insert>
    <resultMap id="course" type="com.example.demo.po.Curriculum">
        <id column="课程编号" property="Cno"/>
        <id column="课程名称" property="Cnm"/>
        <id column="学分" property="Ctm"/>
        <id column="授课老师" property="Tec"/>
        <id column="授课地点" property="Pla"/>
        <id column="共享" property="Share"/>
    </resultMap>
</mapper>