<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.SelectionMapper">
    <insert id="insertData">
        insert into selections values(#{cno},#{sno},-1);
    </insert>
    <select id="getDataBySno" resultType="String">
        select 学号 from selections where 课程编号=#{sno};
    </select>
    <delete id="deleteData">
        delete  from selections where 课程编号=#{cno} and 学号=#{sno};
    </delete>
</mapper>